@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
 .bodyWelcome{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
   background-image: linear-gradient(rgba(154,153,153,0.8), rgba(255,255,255,0)), url("Img/wallpaperbettr.jpg");
 }
 </style>
<body class="bodyWelcome">
<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <br>
    <p class="font-weight-bold">To my .NET C# school project. Go ahead and checkout functionality of my first Web apps with ASP.NET Core.</p>
    <p class="font-weight-bold">You can see more funny and interesting projects on  <a href="https://github.com/mharin">my GitHub profile</a></p>
    
</div>
</body>