@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
 .bodyWelcome{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
   background-image: linear-gradient(rgba(154,153,153,0.8), rgba(255,255,255,0)), url("Img/wallpaperbettr.jpg");
 }
 </style>
<body class="bodyWelcome">
<h1>@ViewData["RazorCrud"]</h1>

<br>
<h4 class="text-center" >This project was created just for study purposes during my studies at  <a href="https://becode.org/">BeCode.org</a>.</h4>
</body>