@page
@model RazorCrud.Pages.Musics.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
 .bodyMusic{
   background-image: linear-gradient(rgba(154,153,153,0.3), rgba(255,255,255,0)), url("../Img/VituvianMusic.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
 }
 </style>
<body class="bodyMusic">
<h1 class="text-light">Create</h1>

<h4 class="text-light">Music</h4>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Music.Band" class="control-label"></label>
                <input asp-for="Music.Band" class="form-control" />
                <span asp-validation-for="Music.Band" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.Album" class="control-label"></label>
                <input asp-for="Music.Album" class="form-control" />
                <span asp-validation-for="Music.Album" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.ReleaseDate" class="control-label"></label>
                <input asp-for="Music.ReleaseDate" class="form-control" />
                <span asp-validation-for="Music.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.Price" class="control-label"></label>
                <input asp-for="Music.Price" class="form-control" />
                <span asp-validation-for="Music.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Music.Genre" class="control-label"></label>
                <input asp-for="Music.Genre" class="form-control" />
                <span asp-validation-for="Music.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="text-light">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
