@page
@model RazorCrud.Pages.Herbs.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
 .bodyHerb{
   background-image: linear-gradient(rgba(154,153,153,0.3), rgba(255,255,255,0.3)), url("../Img/herbs-essential-oils.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;   
 }
 </style>
<body class="bodyHerb">
<h1 class="text-light">Create</h1>

<h4 class="text-light">Herb</h4>
<hr />
<div class="row text-light">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Herb.Name" class="control-label"></label>
                <input asp-for="Herb.Name" class="form-control" />
                <span asp-validation-for="Herb.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Usage" class="control-label"></label>
                <input asp-for="Herb.Usage" class="form-control" />
                <span asp-validation-for="Herb.Usage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Part" class="control-label"></label>
                <input asp-for="Herb.Part" class="form-control" />
                <span asp-validation-for="Herb.Part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Grams" class="control-label"></label>
                <input asp-for="Herb.Grams" class="form-control" />
                <span asp-validation-for="Herb.Grams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Price" class="control-label"></label>
                <input asp-for="Herb.Price" class="form-control" />
                <span asp-validation-for="Herb.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index" class="text-light">Back to List</a>
</div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
