@page
@model RazorCrud.Pages.Herbs.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Herb</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Herb.ID" />
            <div class="form-group">
                <label asp-for="Herb.Name" class="control-label"></label>
                <input asp-for="Herb.Name" class="form-control" />
                <span asp-validation-for="Herb.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Usage" class="control-label"></label>
                <input asp-for="Herb.Usage" class="form-control" />
                <span asp-validation-for="Herb.Usage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Part" class="control-label"></label>
                <input asp-for="Herb.Part" class="form-control" />
                <span asp-validation-for="Herb.Part" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Grams" class="control-label"></label>
                <input asp-for="Herb.Grams" class="form-control" />
                <span asp-validation-for="Herb.Grams" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Herb.Price" class="control-label"></label>
                <input asp-for="Herb.Price" class="form-control" />
                <span asp-validation-for="Herb.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
